
/*=============================================
=            11. Blog            =
=============================================*/

.single-blog-post {
    background-color: #ffffff;

    &.gallery-type-post{
        display: block;

        .single-blog-post-media{

            &:hover{
                .slick-arrow{
                    visibility: visible;
                    opacity: 0.6;

                    &:hover{
                        opacity: 1;
                    }
                }

                .slick-next{
                    right: 10px;
                }

                .slick-prev{
                    left: 10px;
                }
            }
        }
        .slick-arrow{
            position: absolute;
            top: 50%;
            background: none;
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #323232;
            color: #ffffff;
            line-height: 40px;
            z-index: 9;
            margin-top: -20px;
            visibility: hidden;
            opacity: 0;
            text-align: center; 
        }

        .slick-next{
            right: 30px;
            left: auto;
        }

        .slick-prev{
            left: 30px;
            right: auto;

        }
    }

    .single-blog-post-media {
        position: relative;

        .blog-categories{
            position: absolute;
            bottom: 20px;
            left: 10px;

            ul{
                li{
                    display: inline-block;
                    a{
                        display: block;
                        background-color: #ffffff;
                        padding: 5px 10px;
                        text-transform: capitalize;
                        margin-right: 5px;
                        border-radius: 3px;

                        &:hover{
                            background-color: $theme-color;
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        .video{
            overflow: hidden;
            iframe{
                width: 100%; 
                
                @media #{$extra-small-mobile}{
                    height: 200px;
                }
            }
        }


    }
    
    .single-blog-post-content {

        .post-audio{
            overflow: hidden;
            iframe{
                width: 100%;
            }
        }

        h3.post-title{
            font-size: 22px; 
            line-height: 30px; 
            color: #242424;
            margin-bottom: 20px;

            a{
                &:hover{
                    color: $hover-color;
                }
            }

            @media #{$small-mobile}{
                font-size: 25px;
            }

            &.sticky{
                position: relative;
                padding-left: 25px;

                &:before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "\f08d";
                    font-family: fontAwesome;
                    font-size: 25px;

                }
            }
        }

        .post-meta{
            padding-bottom: 15px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e0e0e0;
            p{
                span{
                    color: #999999;
                    i.fa{
                        margin-right: 5px;
                    }
                }

                a{
                    font-weight: 500;
                    color: #323232;

                    &:hover{
                        color: $theme-color;
                    }
                }

                span.separator{
                    padding: 0 5px;
                }
            }
        }

        p.post-excerpt{
            font-size: 15px;
            line-height: 29px;
        }

        a.blog-readmore-btn{
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            text-transform: capitalize;

            &:hover{
                color: $hover-color;
            }
        }

    }
} 

/*=====  End of 11. Blog  ======*/

