
/*=============================================
=            02. Modal            =
=============================================*/



/*=============================================
=            Home two style            =
=============================================*/


.home-two-wrapper{
    .product-feature-details {
        h2.product-title {
            font-weight: 500;
            color: #323232;
            font-size: 30px;
            line-height: 35px;
        }
    
    
        h2.product-price {
            position: relative;
            span{
                &.main-price{
                    
                    font-size: 28px;
                    font-weight: 500;
                    color: $theme-color-2;
                    
                }
                &.discounted{
                    font-size: 24px;
                    color: #999999;
                    padding-right: 5px;
                    text-decoration: line-through;
                }
                &.discounted-price{
                    font-size: 28px;
                    font-weight: 500;
                    color: $theme-color-2; 
                } 
                &.discount-percentage{
                    font-weight: 700;
                    font-size: 12px;
                    color: white;
                    padding: 2px 5px 0;
                    background: $theme-color-2;
                    text-transform: uppercase;
                    line-height: 21px;
                    display: inline-block;
                    font-family: $heading-font-family-name;
                    position: absolute;
                    top: 5px;
                    margin-left: 10px;
                }
            }
        }
    
        p.product-description{
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 20px 0;
    
        }
    
        .social-share-buttons {
            h3{
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500; 
                line-height: 30px;
            }
            ul {
                margin-bottom: 15px;
    
                li {
                    display: inline-block;
                    margin-right: 5px;
    
                    @media #{$large-mobile} {
                        margin-bottom: 5px;
    
                    }
    
                    a {
                        display: block;
                        border: 1px solid #ddd;
                        height: 40px;
                        width: 40px;
                        line-height: 40px;
                        text-align: center;
    
                        @media #{$tablet-device} {
                            margin-bottom: 5px;
                        }
    
                        @media #{$large-mobile} {
                            margin-bottom: 5px;
                        }
    
                        i.fa-twitter {
                            color: $twitter;
                        }
    
                        i.fa-facebook {
                            color: $facebook;
                        }
    
                        i.fa-google-plus {
                            color: $google-plus;
                        }
    
                        i.fa-pinterest {
                            color: $pinterest;
                        }
    
    
                    }
    
                    &:hover {
                        a {
                            color: #fff;
    
                            i.fa {
                                color: #fff;
                            }
                        }
    
                        a.twitter {
                            background-color: $twitter;
                        }
    
                        a.facebook {
                            background-color: $facebook;
                        }
    
                        a.google-plus {
                            background-color: $google-plus;
                        }
    
                        a.pinterest {
                            background-color: $pinterest;
                        }
                    }
                }
            } 
        }
    
    
    
    
        .add-to-cart-btn{
            a{

                &:hover{
                    background-color: $hover-color-2;
                    border-color: $hover-color-2;
                }

                &:active{
                    background-color: $hover-color-2;
                    border-color: $hover-color-2;
                }

                &:focus{
                    background-color: $hover-color-2;
                    border-color: $hover-color-2;
                }
            }
            display: inline-block;
            a{
                padding: 15px 50px;
            }
        }

        .pro-qty{
            a{
                &:hover{
                    color: $hover-color-2;
                }
            }
        }
    
    
    }

    .quickview-small-image-slider{
        .slick-arrow{
            &:hover{
                background-color: $hover-color-2;
                border-color: $hover-color-2;
            }
        }
    }
}

/*=====  End of Home two style  ======*/



/*=============================================
=            Home three style            =
=============================================*/

.home-three-wrapper{
    .product-feature-details {
        h2.product-title {
            font-weight: 500;
            color: #323232;
            font-size: 30px;
            line-height: 35px;
        }
    
    
        h2.product-price {
            position: relative;
            span{
                &.main-price{
                    
                    font-size: 28px;
                    font-weight: 500;
                    color: $theme-color-3;
                    
                }
                &.discounted{
                    font-size: 24px;
                    color: #999999;
                    padding-right: 5px;
                    text-decoration: line-through;
                }
                &.discounted-price{
                    font-size: 28px;
                    font-weight: 500;
                    color: $theme-color-3; 
                } 
                &.discount-percentage{
                    font-weight: 700;
                    font-size: 12px;
                    color: white;
                    padding: 2px 5px 0;
                    background: $theme-color-3;
                    text-transform: uppercase;
                    line-height: 21px;
                    display: inline-block;
                    font-family: $heading-font-family-name;
                    position: absolute;
                    top: 5px;
                    margin-left: 10px;
                }
            }
        }
    
        p.product-description{
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 20px 0;
    
        }
    
        .social-share-buttons {
            h3{
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500; 
                line-height: 30px;
            }
            ul {
                margin-bottom: 15px;
    
                li {
                    display: inline-block;
                    margin-right: 5px;
    
                    @media #{$large-mobile} {
                        margin-bottom: 5px;
    
                    }
    
                    a {
                        display: block;
                        border: 1px solid #ddd;
                        height: 40px;
                        width: 40px;
                        line-height: 40px;
                        text-align: center;
    
                        @media #{$tablet-device} {
                            margin-bottom: 5px;
                        }
    
                        @media #{$large-mobile} {
                            margin-bottom: 5px;
                        }
    
                        i.fa-twitter {
                            color: $twitter;
                        }
    
                        i.fa-facebook {
                            color: $facebook;
                        }
    
                        i.fa-google-plus {
                            color: $google-plus;
                        }
    
                        i.fa-pinterest {
                            color: $pinterest;
                        }
    
    
                    }
    
                    &:hover {
                        a {
                            color: #fff;
    
                            i.fa {
                                color: #fff;
                            }
                        }
    
                        a.twitter {
                            background-color: $twitter;
                        }
    
                        a.facebook {
                            background-color: $facebook;
                        }
    
                        a.google-plus {
                            background-color: $google-plus;
                        }
    
                        a.pinterest {
                            background-color: $pinterest;
                        }
                    }
                }
            } 
        }
    
    
    
    
        .add-to-cart-btn{
            a{

                &:hover{
                    background-color: $hover-color-3;
                    border-color: $hover-color-3;
                }

                &:active{
                    background-color: $hover-color-3;
                    border-color: $hover-color-3;
                }

                &:focus{
                    background-color: $hover-color-3;
                    border-color: $hover-color-3;
                }
            }
            display: inline-block;
            a{
                padding: 15px 50px;
            }
        }

        .pro-qty{
            a{
                &:hover{
                    color: $hover-color-3;
                }
            }
        }
    
    
    }

    .quickview-small-image-slider{
        .slick-arrow{
            &:hover{
                background-color: $hover-color-3;
                border-color: $hover-color-3;
            }
        }
    }
}

/*=====  End of Home three style  ======*/








/*----------  quick view modal style  ----------*/
.quick-view-modal-container { 
    .modal-header {
        border-bottom: 0;
        padding: 0.5rem 1rem 0 0;

        .close {
            padding-top: 25px;
            padding-right: 20px;
        }
    }

    .modal-content{
        border-radius: 0;
    }

    .modal-dialog {
        max-width: 900px;

        @media #{$tablet-device}{
            max-width: 700px;
            margin: auto;
        }
        @media #{$large-mobile}{
            max-width: 500px;
            margin: auto;
        }
        @media #{$small-mobile}{
            max-width: 400px;
            margin: auto;
        }
    }
}


.single-product-img.img-full{
    text-align: center;
}

.product-image-slider{
    @media #{$large-mobile}{
        margin-bottom: 30px;
    }
}

.product-feature-details {
    h2.product-title {
        font-weight: 500;
        color: #323232;
        font-size: 30px;
        line-height: 35px;
    }


    h2.product-price {
        position: relative;
        span{
            &.main-price{
                
                font-size: 28px;
                font-weight: 500;
                color: $theme-color;
                
            }
            &.discounted{
                font-size: 24px;
                color: #999999;
                padding-right: 5px;
                text-decoration: line-through;
            }
            &.discounted-price{
                font-size: 28px;
                font-weight: 500;
                color: $theme-color; 
            } 
            &.discount-percentage{
                font-weight: 700;
                font-size: 12px;
                color: white;
                padding: 2px 5px 0;
                background: $theme-color;
                text-transform: uppercase;
                line-height: 21px;
                display: inline-block;
                font-family: $heading-font-family-name;
                position: absolute;
                top: 5px;
                margin-left: 10px;
            }
        }
    }

    p.product-description{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 20px 0;

    }

    .social-share-buttons {
        h3{
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500; 
            line-height: 30px;
        }
        ul {
            margin-bottom: 15px;

            li {
                display: inline-block;
                margin-right: 5px;

                @media #{$large-mobile} {
                    margin-bottom: 5px;

                }

                a {
                    display: block;
                    border: 1px solid #ddd;
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    text-align: center;

                    @media #{$tablet-device} {
                        margin-bottom: 5px;
                    }

                    @media #{$large-mobile} {
                        margin-bottom: 5px;
                    }

                    i.fa-twitter {
                        color: $twitter;
                    }

                    i.fa-facebook {
                        color: $facebook;
                    }

                    i.fa-google-plus {
                        color: $google-plus;
                    }

                    i.fa-pinterest {
                        color: $pinterest;
                    }


                }

                &:hover {
                    a {
                        color: #fff;

                        i.fa {
                            color: #fff;
                        }
                    }

                    a.twitter {
                        background-color: $twitter;
                    }

                    a.facebook {
                        background-color: $facebook;
                    }

                    a.google-plus {
                        background-color: $google-plus;
                    }

                    a.pinterest {
                        background-color: $pinterest;
                    }
                }
            }
        } 
    }


    .pro-qty{
        @media #{$extra-small-mobile}{
            margin-bottom: 20px;
        }
    }


    .add-to-cart-btn{
        display: inline-block;
        a{
            padding: 15px 50px;
        }
    }


}
 
/*=====  End of 02. Modal  ======*/

